@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 248, 248);
    display: flex;
    height: 100vh;
}


.info_Section{
    margin: auto;
}

.date_Section{
    font-family: 'Pacifico', cursive;
    display: flex;
    border-radius: 27px;
    padding: 10px;
}

.date_info{
    margin: auto;
    font-size: 3em;
}

.hour-Section{
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.hourNumber_Section, .hourMinutes_Section, .hourSeconds_Section{
    background-color: rgb(24, 24, 24);
    width: 200px;
    background: linear-gradient(180deg, rgb(153, 153, 153) 50%, hsla(0, 0%, 13%, 1) 50%);
    height: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(236, 236, 236);
    border-radius: 27px;
    box-shadow: 0 0 10px black;
}

.hourAbbreviation_Section{
    width: 200px;
    height: 350px;
    background: linear-gradient(180deg, hsla(0, 0%, 65%, 1) 50%, hsla(0, 0%, 13%, 1) 50%);
    border-radius: 27px;
    box-shadow: 0 0 10px black;
}


.hour_Minutes, .hour_Seconds, .hour_Number{
    font-size: 10em;
}

.abbreviation_Section{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hour_abbreviation{
    font-size: 7em;
    display: block;
    color: rgb(236, 236, 236);
}

.image_Section{
    height: 50%;
    width: 100%;
    display: flex;
}

.image_Cycle{
    width: 150px;
    margin: auto;
}